img {
    position: relative;
    top: -20px;
    left: 10px;
    border: 3px solid rgb(9, 104, 121);
}

div button.btn-img {
    position: relative;
    top: 10px;
    left: -90px;
    background: linear-gradient(145deg, #6cd2ff, #5bb0e2);
    box-shadow:  0px 0px 10px #56a7d5;
                 /* -10px -10px 30px #74e1ff; */
    border: none;
}

h1.name {
    width: 90px;
    position: relative;
    left: -130px;
    top: 41px;
}

.name-client{
    width: 100px;
    position: relative;
    top: 20px;
    left: -70px;
}

div button.btn-name {
    position: relative;
    top: -15px;
    left: 140px;
    background: linear-gradient(145deg, #6cd2ff, #5bb0e2);
    box-shadow:  0px 0px 10px #56a7d5;
                /* -20px -20px 60px #74e1ff; */
    border: none;
}

.e-mail {
    width: 60px;
    position: relative;
    left: -112px;
    top: 20px;
}

.email-client {
    position: relative;
    top: -2px;
    left: -55px;
}

div button.btn-email {
    position: relative;
    top: -35px;
    left: 140px;
    background: linear-gradient(145deg, #6cd2ff, #5bb0e2);
    box-shadow:  0px 0px 10px #56a7d5;
                /* 0px -20px 60px #74e1ff; */
    border: none;
}