.card-kamban {
  transition: 0.3s;
  width: 100%;
  max-width: 200px;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  margin: 2%;
  margin-left: 3%;

}

.card-kamban-body{
  width: 100%;
  height: 80%;
  align-items: center;
  padding: 25px;
  font-size: 1.6rem
}