.card-kamban {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  max-width: 200px;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  margin: 2%;
  margin-left: 3%;

}

.card-kamban-body{
  width: 100%;
  height: 80%;
  align-items: center;
  padding: 25px;
  font-size: 1.6rem
}

.card-meuschamados{
  background-color: rgb(0, 162, 255);
  width: 100%;
  height: 100%;
  border: 1px solid  rgb(0, 162, 255);

}

.card-atendimento{
  background-color: rgb(236, 147, 192);
  width: 100%;
  height: 100%;
  border: 1px solid  rgb(236, 147, 192);
}

.card-finalizado{
  background-color: rgb(45, 228, 9);
  width: 100%;
  height: 100%;
  border: 1px solid  rgb(45, 228, 9);
}

.card-verificacliente{
  background-color: rgb(248, 245, 41);
  width: 100%;
  height: 100%;
  border: 1px solid  rgb(248, 245, 41);
}



