#modal-dev{
  margin-top: 250px;
}
.coluna{
  display:flex;
}
#coluna-assunto{
  max-width: 1000px;
  width: 1000px;
  display: flex;
  justify-content: center;
}
#container-meio{
  text-align: center;
}
#coluna-chamado {
  width: 1000px;
  max-width: 1000px;
  text-align: center;
}
#coluna-chamado h1 {
  width: 1000px;
}
#dados-descricao{
  margin:12px;
}