.inputbusca{
    width: 80%;
    max-width: 1000px;
    padding:10px;
    border: 1px solid  rgb(12, 0, 0);
    font-size: 1rem;
    border-radius:5px;

    
}

.btn-buscar{
    padding: 10px;
    border-radius:5px;
    margin: 5px;
    background-color: rgb(158, 154, 154);
    /* transition:all 0.3s ease; */

}

h3{
    width: 100%;
    max-width: 1000px;
    margin: 10px;
    text-align: center;
}


h4{
    width: 100%;
    max-width: 100px;
    margin: 10px;   
    padding: 10px;

}

.row-ticketsCliente{
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.headerTicketsCliente{
    display: flex;

}

.assuntoTicketsCliente{
    width: 100%;
    max-width: 300px;
}

.nomeTicketsCliente{
    width: 100%;
    max-width: 250px;
}

.statusTicketsCliente{
    width: 100%;
    max-width: 200px;
}

h2{

    font-size: 1.6rem;
    margin-left: 5px;
}



