.row-inputbusca{
    margin-left: 4%;
}

.inputbusca{
    width: 80%;
    max-width: 1000px;
    padding:10px;
    border: none;
    border-bottom: 2px solid rgb(101, 213, 252);
    font-size: 1rem;
}

.btn-buscar{
    padding: 13px;
    border-radius: 5px;
    margin: 5px;
    /* background-color: rgb(158, 154, 154); */
    background-color: rgb(101, 213, 252);
    box-shadow:  2px 2px 10px #56b5d6,
                 2px 2px 10px #74f5ff;
    border: none;
    box-shadow: black;
    cursor: pointer;
}

.row-cardchamado{
    margin-left: 4%
}

h3{
    width: 100%;
    max-width: 1000px;
    margin: 10px;
    text-align: center;
}




