*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

body {
    background-color: #d2f2fc;
}

img {
    position: relative;
    top: -5px;
    left: 120px;
}

#conteudo {
    display: flex;
}

#conteudo main {
    width: 100%;
    padding-left: 280px;
}

#sidebar nav a:hover {
    background-color: #053c4b;
}