/* .card-kamban {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 200px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    margin: 1%;
    position: relative;
    left: 100px;
    top: 20px;
  }

  .card-kamban-body{
    width: 100%;
    height: 80%;
    align-items: center;
    padding: 25px;
    font-size: 1.3rem
  }
  
  .card-meuschamados{
    background: linear-gradient(145deg, #34b9da, #3edcff);
    box-shadow:  0px 0px 5px #31afce;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
  }

  .card-atendimento{
    background: linear-gradient(145deg, #34b9da, #3edcff);
    box-shadow:  0px 0px 5px #31afce;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
  }

  .card-finalizado{
    background: linear-gradient(145deg, #34b9da, #3edcff);
    box-shadow:  0px 0px 5px #31afce;
    width: 100%;
    height: 100%;
    color: black;
    border-radius: 5px;
    border: none;
  }

  .card-verificacliente{
    background: linear-gradient(145deg, #34b9da, #3edcff);
    box-shadow:  0px 0px 5px #31afce;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
  }

  .headerTicketsAdm {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
  }

  .row-ticketsAdm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 10px;
  }

  .aut {
    width: 90px;
    margin-left:337px;
  }
  
  .sta {
    width: 100px;
    margin-left: 60px;
  } */

  .card-kamban {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 200px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    margin: 1%;
    position: relative;
    left: 100px;
    top: 20px;
  }
  .card-kamban-body{
    width: 100%;
    height: 80%;
    align-items: center;
    padding: 25px;
    font-size: 1.3rem
  }
  .card-meuschamados{
    background: linear-gradient(145deg, #34B9DA, #3EDCFF);
    box-shadow:  0px 0px 5px #31AFCE;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
  }
  .card-atendimento{
    background: linear-gradient(145deg, #34B9DA, #3EDCFF);
    box-shadow:  0px 0px 5px #31AFCE;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
  }
  .card-finalizado{
    background: linear-gradient(145deg, #34B9DA, #3EDCFF);
    box-shadow:  0px 0px 5px #31AFCE;
    width: 100%;
    height: 100%;
    color: black;
    border-radius: 5px;
    border: none;
  }
  .card-verificacliente{
    background: linear-gradient(145deg, #34B9DA, #3EDCFF);
    box-shadow:  0px 0px 5px #31AFCE;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
  }
  .headerTicketsAdm {
    /* background-color: violet; */
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
  }
  .row-ticketsAdm {
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 10px;
  }
  .aut {
    /* background-color: rgb(225, 247, 181); */
    width: 90px;
    margin-left:337px;
  }
  .sta {
    /* background-color: yellow; */
    width: 100px;
    margin-left: 60px;
  }