.card-kamban {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 200px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    margin: 5%
  }
  .card-kamban-body{
    width: 100%;
    height: 80%;
    align-items: center;
    padding: 25px;
    font-size: 1.3rem
  }
  .card-meuschamados{
    background-color: rgb(238, 228, 228);
    width: 100%;
    height: 100%;
    /* border: 1px solid  rgb(0, 162, 255); */
    border-radius: 5px;
    border: none;
  }
  .card-atendimento{
    background-color: rgb(238, 228, 228);
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(236, 147, 192); */
    border-radius: 5px;
    border: none;
  }
  .card-finalizado{
    background-color: rgb(238, 228, 228);
    width: 100%;
    height: 100%;
    /* border: 1px solid  rgb(45, 228, 9); */
    color: black;
    border-radius: 5px;
    border: none;
  }
  .card-verificacliente{
    background-color: rgb(238, 228, 228);
    width: 100%;
    height: 100%;
    /* border: 1px solid  rgb(248, 245, 41); */
    border: none;
    border-radius: 5px;
  }
  /*------*/
  .card-ticketcriado{
    background-color: rgb(16, 165, 245);
    width: 100%;
    height: 100%;
  }
  .card-ticketsemresposta{
    background-color: rgb(245, 16, 16);
    width: 100%;
    height: 100%;
  }
  .card-ticketandamento{
    background-color: rgb(241, 245, 16);
    width: 100%;
    height: 100%;
  }
  .card-ticketconcluido{
    background-color: rgb(81, 245, 16);
    width: 100%;
    height: 100%;
  }