div.container{
  width: 100%;
  height: 500px;
  display: flex;
  position: absolute;
  top: -250px;
  color: #0000;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #b4dee6, #054550);
  box-shadow:  0px 0px 2px #12a8c3, 
               0px 0px 2px #18e4ff;
}

#title {
  position: relative;
  top: 20px;
}

#desc {
  position: relative;
  top: 20px;
}

#dados {
  width: 480px;
  height: 100px;
  position: absolute;
  display: flex;
  align-items: initial;
  top: 80px;
}

#assunto {
  position: relative;
  top: -10px;
}

label.categoria {
  text-transform: uppercase;
  font-weight: bold;
  width: 110px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 100px;
  left: 100px;
}

h1.dados {
  display: flex;
  justify-content: initial;
  align-items: center;
  width: 300px;
  height: 30px;
  position: relative;
  top: 70px;
  left: 300px;
}

.close{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  border:none;
  cursor: pointer;
  color: black;
  /* background-color: rgb(18, 181, 231); */
  background-color: red;
  font-size: 16px;
}

.btn-del {
  position: relative;
  top: 130px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #f51616, #ce1313);
  box-shadow:  2px 2px 5px #c31212,
                0px 0px 1px #ff1818;
  cursor: pointer;
  font-size: 18px;
}

/* div#modal h1 { */
  /* color: #000; */
  /* color: blue; */
/* } */

/* div.modal{ */
  /* width: 100%; */
  /* position: relative; */
  /* top: -100px; */
  /* width: 100%;
  height: 100vh;
  position: absolute;
  top:-500px;
  left:0;
  z-index: 2000;
  background-color: rgba(0,0,0,1);
  display:flex;
  justify-content: center;
  align-items: center; */
  /* background-color: violet; */
/* } */

/* .assuntoModal{ */
  /* width: 100%;
  height: 100%;
  max-width: 800px;
  padding: 10px; */
/* } */

/* .descricaoModal{ */
  /* width: 100%;
  height: 80%;
  max-width: 400px;
  padding: 150px; */
/* } */

/* .modal label{ */
  /* color: rgb(0, 0, 0); */
  /* font-size: 1.6rem; */
/* } */

/* .content{
  width: 100%;
  height: 500px;
} */

/* .coluna{
  margin: 2%;
  display: flex;
  width:100%;
  max-width: 400px;
  display: inline-block;
} */

/* .nameModal, .emailModal, .statusModal {
  width: 100%;
  max-width: 300px;
  padding: 10px;
} */