.cadastrar{
  font-size: 1.2rem;
  outline: none;
  border:none;
  width:100%;
  height: 100%;
  display: flex;
}

.btn-voltar{
  position: relative;
  top: -10px;
  font-size: 20px;
  text-align: center;
}