#conteudo-header {
    padding-left: 20px;
    /* background-color: #d8d8d8; */
    background-color: rgb(210, 236, 245);
    /* background-color: #fff; */
    /* background-color: rgb(206, 32, 32); */
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#conteudo-header h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
}

#conteudo-header p {
    font-size: 18px; 
    font-family: 'Helvetica', sans-serif; 
}