.container-projetos {
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 1000px;
    align-items: flex-start; 
}

.container-main {
    text-align: initial;
}

.projeto {
    border: 1px solid black;
}

.row-card{
    width: 100%;
    max-width: 300px;
    margin: 5px;
    align-items: top;    
}