.container-projetos {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    width: 100%;
    max-width: 1000px;
}

.container-main {
    text-align: initial;
}

.projeto {
    border: 1px solid black;
}

.row-card{
    width: 100%;
    max-width: 300px;
    margin: 5px;
    align-items: top;
    /* background-color: rgb(208, 255, 0); */
    
}