.container-projetos {
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 1000px;
    align-items: flex-start; 
    justify-content:space-around;
    width: 100%;
    max-width: 1000px;
}

.container-main  h1 {
    text-align: center;
    margin-top: 10px;
}

.projeto {
    border: 1px solid black;
}

.row-card{
    width: 100%;
    max-width: 300px;
    margin: 5px;
    align-items: top;   
}