*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  outline: none;
}

.container-login{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-content{
  width: 100%;
  max-width:400px;
  display: block;
  margin: 1.5rem 0;
  border: none;
  border-radius: 10px;
}

.login-form{
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 1.5rem 0;
  align-items: center; 
}

.row{
  width: 100%;
  max-width: 500px;
  padding: 10px;
}

label{
  display: block;
}

.input-login{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.btn-login{
  padding:10px;
  cursor: pointer;
  border-radius:5px;
  width: 100%;
  max-width: 400px;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  opacity: 1;
  background-color: indigo;
}

.btn-login:hover
{
  background-color:rgb(16, 243, 69);
  color: black;
}

.content-header{
  text-align: center;
  margin-top: 30px;
  box-sizing: border-box;
}

/* .footerLogin{
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  left: 35px;
  top: -10px;
  font-size: 17px;
  margin: 2%;
  margin-right: 50px;
} */

.footerLogin-1 {
  width: 89px;
  position: relative;
  left: 15px;
}

.footerLogin-2 {
  width: 170px;
  position: relative;
  left: 218px;
  top: -17px;
}