#novo-chamado{
    display: flex;
}

#novo-chamado main {
    width: 100%;
}

.formulario{
    /* background-color: rgb(49, 4, 252); */
    box-sizing: border-box;
    height: 100%;
    max-height: 400px;
    padding: 10px;
}

.form-principal{
    /* background-color: #fa0b0b; */
    display: inline-block;
    width: 55%;
    height: 100%;
    padding: 10px;
    position: relative;
    left: 200px;
}

.form-principal input {
    padding: 5px;
    width: 100%;
}

label{
    padding: 5px;
}

.form-principal textarea {
    padding: 10px;
    resize: none;
    width: 100%;
    height: 150px;
    max-height:300px;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-secundario{
    height: 14%;
    width: 40%;
    box-sizing: border-box;
    margin-left: 25%;
    margin-top: -100px;
}

.form-secundario input{
    height: 100%;
    width: 90%;
    max-width: 400px;
    margin: 2px;
    padding: 5px;
}

.form-secundario select{
    height: 100%;
    width: 90%;
    max-width: 400px;
    margin: 2px;
    padding: 5px;
}

.btn{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#btn-cancelar{
    background-color: none;
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
}

#btn-criarchamado{
    background: linear-gradient(145deg, #2fc8f2, #28a8cb);
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
}

