.adm {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: flex-start;
  align-items: center;
  padding: 5px;
}
.adm button{
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(145deg, #1dc9f4, #18a9cd);
  box-shadow:  0px 0px 1px #17a0c2, 
              0px 0px 1px #1fd8ff;
  font-weight: bold;
  cursor: pointer;
}

